@media screen and (min-width:425px){
    .bg-colour{
        background-color: hsl(0, 0%, 90%);
    }
}

@media screen and (max-width:425px){
    .card-colour{
        background-color: hsl(0, 0%, 90%);
    }
}

@media screen and (min-width:425px){
    .card-colour{
        background-color: hsl(0, 0%, 100%);
    }
}

